@import "tailwindcss";

:root {
  --primary: #0A2540;
  --accent: #0A2540;
  --hover: #1a3a5a;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 500;
  color: #797979;
  -webkit-font-smoothing: antialiased;
}

section {
  scroll-margin-top: 80px;
}

::selection {
  background: var(--color-4);
  color: var(--color-1);
}
